// ------------------------------------------------------------------------------
//   Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-colors-background        : #fff;
$kss-colors-background-alt    : #f3f3f4;
$kss-colors-background-dark   : #161b59;

$kss-colors-foreground        : #0d121f;
$kss-colors-foreground-light  : #eee;
$kss-colors-foreground-alt    : #4a4e57;
$kss-colors-quotes            : #828a8e;
$kss-colors-sidebar           : #ecf1f3;
$kss-colors-border            : #c4d0d6;
$kss-colors-button            : #e5e9ef;
$kss-colors-shadow            : rgba(0,0,0,0.4);

$kss-colors-link              : #0645ad;
$kss-colors-link-visited      : #0645ad;
$kss-colors-link-hover        : lighten($kss-colors-link, 20%);
$kss-colors-link-active       : #faa700;

$kss-font-body                : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$kss-font-code                : Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

$kss-font-size                : 0.875rem;
$kss-vertical-rhythm          : 1rem;
$kss-breakpoint               : 600px;
$kss-container                : 1180px;

// ------------------------------------------------------------------------------
// Wrap all of this builder's base HTML styling inside a .kss-style selector.
// ------------------------------------------------------------------------------

.kss-style {
  color: $kss-colors-foreground;
  font-family: $kss-font-body;
  font-size: $kss-font-size;
  line-height: $kss-vertical-rhythm;

  a {
    color: $kss-colors-link;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
    word-wrap: break-word;
    border-bottom: 0;

    &:visited { color: $kss-colors-link-visited; }
    &:hover,
    &:focus   { color: $kss-colors-link-hover;   }
    &:active  { color: $kss-colors-link-active;  }

    &:hover,
    &:active {
      outline: 0;
      background-color: transparent;
    }
  }

  p {
    font-size: inherit;
    line-height: inherit;
    margin: ($kss-vertical-rhythm/2) 0 $kss-vertical-rhythm 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: $kss-vertical-rhythm 0 0 0;
    font-family: inherit;
    color: inherit;
    line-height: 1.15em;
    font-weight: bold;
    font-style: normal;
    text-transform: none;
  }

  h1 { font-size: $kss-font-size * 2.5;   }
  h2 { font-size: $kss-font-size * 2.25;  }
  h3 { font-size: $kss-font-size * 2.125; }
  h4 { font-size: $kss-font-size * 2;     }
  h5 { font-size: $kss-font-size * 1.875; }
  h6 { font-size: $kss-font-size * 1.75;  }

  blockquote {
    color: $kss-colors-quotes;
    margin: 0;
    padding-left: $kss-vertical-rhythm;
    border-left: 0.5em $kss-colors-border solid;
  }

  b, strong {
    font-weight: bold;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid $kss-colors-border;
    margin: $kss-vertical-rhythm 0;
    padding: 0;
  }

  pre, code, kbd, samp {
    font-family: $kss-font-code;
    color: $kss-colors-foreground;
    font-size: 1em;
    word-wrap: break-word;
  }

  pre {
    white-space: pre;
    overflow: scroll;
  }

  ins {
    color: $kss-colors-foreground;
    background: #ff9;
    text-decoration: none;
  }

  mark {
    color: $kss-colors-foreground;
    background: #ff0;
    font-weight: bold;
  }

  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup { top: -0.5em;     }
  sub { bottom: -0.25em; }

  ul, ol {
    font-size: inherit;
    line-height: inherit;
    margin: $kss-vertical-rhythm 0;
    padding: 0 0 0 $kss-vertical-rhythm;
  }
  li p:last-child {
    margin: 0;
  }
  dd {
    margin: 0 0 0 $kss-vertical-rhythm;
  }

  img {
    max-width:100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td {
    vertical-align: top;
  }

  label {
    color: $kss-colors-foreground;
    font-size: .875rem;
    margin: 0 8px 0 0;
    display: inline-block;
    vertical-align: middle;
  }

  input,
  select {
    background: $kss-colors-background;
    background-repeat: no-repeat;
    color: $kss-colors-foreground-alt;
    box-shadow: 0 0 2px $kss-colors-shadow;
    font-size: .875rem;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    vertical-align: middle;
  }

  input {
    &[type="checkbox"] {
      background-position: center center;
      background-size: 13px 13px;
      height: $kss-vertical-rhythm;
      width: $kss-vertical-rhythm;

      &:checked {
        background-image: url('check.svg');
      }
    }
  }

  select {
    background-image: url('chevron-down.svg');
    background-position: right 12px center;
    cursor: pointer;
    padding: 0 12px;
    height: 38px;

    // Hide default arrow.
    &::-ms-expand {
      display: none;
    }
  }

  @media print {
    a, a:visited { text-decoration: underline; }
    hr { height: 1px; border:0; border-bottom:1px solid black; }
    a[href]:after { content: ' (' attr(href) ')'; }
    a[href^='javascript:']:after, a[href^='#']:after { content: ''; }
    abbr[title]:after { content: ' (' attr(title) ')'; }
    pre, blockquote { border: 1px solid $kss-colors-border; padding-right: 1em; page-break-inside: avoid; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
  }
}

// ------------------------------------------------------------------------------
// Layout and page background
// ------------------------------------------------------------------------------

#kss-node {
  margin: 0;
  background-color: transparent;

  .kss-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .kss-wrapper {
    background: $kss-colors-background-alt;
  }

  .kss-header {
    background-color: $kss-colors-background-dark;
    color: $kss-colors-background;
    padding: 6px $kss-vertical-rhythm;
    width: 100%;
    box-sizing: border-box;
    z-index: 1002;
    display: flex;
    align-items: center;
    margin-bottom: 53px;
    position: fixed;
    top: 0;
  }

  .kss-doc-title {
    color: inherit;
    font-size: inherit;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
  }

  .kss-container {
    max-width: $kss-container;
    margin: 0 auto;
  }

  .kss-main {
    padding: 159px $kss-vertical-rhythm;
    position: relative;

    @media screen and (min-width: $kss-container) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .kss-grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &[aria-hidden="true"] {
      display: none;
    }

    &__mobile {
      height: 100%;
      padding: 0 .5rem;
      display: flex;

      @media screen and (min-width: $kss-breakpoint) {
        display: none;
      }
    }

    &__desktop {
      height: 100%;
      padding: 0;
      display: none;

      @media screen and (min-width: $kss-breakpoint) {
        display: flex;
      }
    }

    &__col {
      border-left: 1px solid #d800ff;
      border-right: 1px solid #d800ff;
      background-color: rgba(#d800ff, .1);
      height: 100%;
      flex: 1;
      margin: 0 ($kss-vertical-rhythm / 2);

      @media screen and (min-width: $kss-breakpoint) {
        margin: 0 $kss-vertical-rhythm;
      }
    }
  }

  .kss-footer {
    background-color: $kss-colors-background-alt;
    color: $kss-colors-foreground-alt;
    box-shadow: 0 -2px 6px $kss-colors-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px $kss-vertical-rhythm;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}

// ------------------------------------------------------------------------------
// Header navigation components
// ------------------------------------------------------------------------------

#kss-node {
  .kss-nav {
    margin: 0 auto;
  }

  .kss-nav__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .kss-nav__menu-item {
    a {
      color: inherit;
      text-decoration: none;
      display: inline-block;
      padding: 16px 10px;
      position: relative;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }

    &.kss-nav__menu-item--active {
      > a {
        &::after {
          @media screen and (min-width: $kss-breakpoint) {
            content: '';
            width: 10px;
            height: 10px;
            transform: rotate(135deg);
            background: currentColor;
            position: absolute;
            bottom: -12px;
            left: 50%;
            margin-left: -5px;
            z-index: 1;
          }
        }
      }
    }
  }

  .kss-nav__menu-child {
    background-color: $kss-colors-background;
    color: $kss-colors-foreground-alt;
    box-shadow: 0 2px 6px $kss-colors-shadow;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .kss-nav__menu-child-item {
    > a {
      border-bottom: 2px solid transparent;

      &:hover,
      &:focus {
        border-color: $kss-colors-foreground;
      }
    }
  }
}

// ------------------------------------------------------------------------------
// Content-area components
// ------------------------------------------------------------------------------

#kss-node {

  .kss-section {
    margin-bottom: ($kss-vertical-rhythm * 2);
    position: relative;

    &--has-example {
      .kss-section__header {
        display: flex;
        align-items: center;
        padding: 4px 0;
        border-bottom: 1px solid $kss-colors-border;
        margin-bottom: $kss-vertical-rhythm;

        .kss-title {
          margin: ($kss-vertical-rhythm / 2) auto ($kss-vertical-rhythm / 2) 0;
        }
      }
    }

    &__example {
      background-color: $kss-colors-background;
      padding: $kss-vertical-rhythm;
      margin-left: -$kss-vertical-rhythm;
      margin-right: -$kss-vertical-rhythm;

      @media screen and (min-width: $kss-container) {
        margin-left: 0;
        margin-right: 0;
      }

      &--wide {
        padding-left: 0;
        padding-right: 0;
      }

      &-iframe {
        width: 100%;
        height: auto;
        border: 0;
        margin: 0;
        display: block;
      }
    }

    &__markup {
      padding: 4px;
      background-color: $kss-colors-foreground;

      &[aria-hidden="true"] {
        display: none;
      }

      pre {
        margin: 0;
        border-radius: 0;
        padding: ($kss-vertical-rhythm/2) $kss-vertical-rhythm;

        &[class*="language-"] {
          background-color: transparent;
        }

        code {
          display: block;
          margin: 0;
          padding: 0;
        }
      }

      &-file {
        background-color: $kss-colors-background;
        padding: ($kss-vertical-rhythm/2) $kss-vertical-rhythm;
        border-radius: 3px;
      }
    }

    &__description {
      background-color: $kss-colors-background;
      padding: $kss-vertical-rhythm;
      max-width: 50rem;

      &--popup {
        box-shadow: 0 0 6px $kss-colors-shadow;
        border-radius: 6px;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 1;

        @media screen and (min-width: $kss-breakpoint) {
          max-width: 36rem;
        }

        &::after {
          content: '';
          width: 10px;
          height: 10px;
          transform: rotate(135deg);
          background: $kss-colors-background;
          position: absolute;
          top: -5px;
          right: 11px;
        }
      }

      > * {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &[aria-hidden="true"] {
        display: none;
      }

      pre,
      kbd,
      samp,
      code {
        background-color: $kss-colors-sidebar;
      }

      pre[class*="language-"] {
        background-color: #272822;
      }

      code[class*="language-"] {
        background-color: transparent;
      }
    }
  }

  .kss-title__ref {
    color: $kss-colors-quotes;
    font-size: initial;
  }

  .kss-icon-btn {
    border: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    overflow: hidden;
    text-align: left;
    text-indent: 100%;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    cursor: pointer;

    &:hover,
    &:focus,
    &.is-active {
      background-color: $kss-colors-button;
    }

    &--markup {
      background-image: url('code.svg');
    }

    &--description {
      background-image: url('info.svg');
    }
  }

  .kss-color {
    line-height: 50px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;

    &__wrapper {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__swatch {
      display: inline-block;
      border: 2px solid rgba($kss-colors-foreground, 0.1);
      border-radius: 100%;
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }

    &__name {
      margin-right: 10px;
    }

    &__value {
      color: $kss-colors-quotes;

      code {
        color: inherit;
      }

      &::before {
        content: '\2192\ ';
        font-family: sans-serif;
      }
    }

    &__description {
      color: $kss-colors-quotes;
      display: block;
      position: relative;
      top: -12px;
      line-height: 25px;
    }
  }

  .kss-parameters {
    display: table;
    list-style-type: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;

    &__title {
      font-weight: bold;
    }

    &__item {
      display: table-row;
    }

    &__name {
      display: table-cell;
      padding-right: $kss-vertical-rhythm;
      white-space: nowrap;
    }

    &__description {
      display: table-cell;
    }

    &__default-value code {
      white-space: nowrap;
    }
  }

  .kss-example {
    overflow: hidden;
    margin-bottom: $kss-vertical-rhythm;

    &:last-child {
      margin-bottom: 0;
    }

    + .kss-style {
      margin-bottom: $kss-vertical-rhythm;
    }
  }
}
